In [5]:
import pandas as pd
first = pd.read_csv('2_6.csv', delim_whitespace= True)
first.head()

   01Rx001a  10037  10176  B26  AD2106  250538-004
0  01Rx002a   6038   6038  B18  AD5608  210791-010
1  01Rx003a   6101   7101  B12  AD5302  250539-002
2  01Rx004a   6103   7103  B14  AD5304  250541-003
3  01Rx005a   6104   7104  B68  AD2108  235121-005
4  01Rx006a   6105   7105  B16  AD5306  250537-003

In [9]:
second = pd.read_csv('2_7.csv', delim_whitespace= True)
second.head()
first.columns==second.columns

array([ True,  True,  True,  True,  True,  True], dtype=bool)

In [2]:
bank=0
installment=.01
for x in range(30):
    print "Day: ",x," balance = ",bank
    bank+=installment
    installment*=2
print "Day 30 balance = ", bank

Day:  0  balance =  0
Day:  1  balance =  0.01
Day:  2  balance =  0.03
Day:  3  balance =  0.07
Day:  4  balance =  0.15
Day:  5  balance =  0.31
Day:  6  balance =  0.63
Day:  7  balance =  1.27
Day:  8  balance =  2.55
Day:  9  balance =  5.11
Day:  10  balance =  10.23
Day:  11  balance =  20.47
Day:  12  balance =  40.95
Day:  13  balance =  81.91
Day:  14  balance =  163.83
Day:  15  balance =  327.67
Day:  16  balance =  655.35
Day:  17  balance =  1310.71
Day:  18  balance =  2621.43
Day:  19  balance =  5242.87
Day:  20  balance =  10485.75
Day:  21  balance =  20971.51
Day:  22  balance =  41943.03
Day:  23  balance =  83886.07
Day:  24  balance =  167772.15
Day:  25  balance =  335544.31
Day:  26  balance =  671088.63
Day:  27  balance =  1342177.27
Day:  28  balance =  2684354.55
Day:  29  balance =  5368709.11
balance =  10737418.23

In [3]:
2**30

1073741824